#chart {
  width: 800px;
  height: 400px;
  background-color: #f7f7f7;
  margin: 25px auto;
}

.increase-btn,
.decrease-btn {
  border: 2px solid coral;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  margin: 1rem;
  font-size: 1rem;
  background: white;
  color: coral;
  outline: none;
}

.increase-btn:hover,
.decrease-btn:hover {
  cursor: pointer;
  font-weight: 900;
  border: 2px solid #e65c00;
  color: #e65c00;
}

.button-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
